@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #01073d;
  color: #fff;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

/* navbar */
header {
  position: relative;
  font-family: "Outfit", sans-serif;
}
.logo-wrap {
  text-align: center;
  padding: 1rem 0;
}

.logo {
  font-size: 2.25rem;
  color: #fff;
  font-weight: bold;
}

.logo:hover {
  color: #84dbdb;
}

.nav-ul {
  position: fixed;
  top: 0;
  left: 100%;
  background-color: #24225a;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  transition: 0.3s ease;
}

.nav-ul.active {
  left: 0;
  overflow: hidden;
}

.nav-li {
  font-size: 2rem;
}

.nav-a {
  color: #fff;
}

.hamburger {
  cursor: pointer;
  display: block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 1rem;
  z-index: 4;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
}

/* animation */
.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}
